---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title"> Curriculum Vitae </h1>
    {% if page.description %}
      <p class="post-description">{{ page.description }}</p>
    {% endif %}
  </header>
  <article>
    <div class="cv">
      <object data="../assets/pdf/CV_Seok-Ju.pdf" frameborder="0" width="100%" height="600px" style="padding: 20px;" type="application/pdf">
        <embed src="https://drive.google.com/file/d/1QFsNPAkfyn7x_Eb3yJMrUF9fC-D98oHo/preview?usp=sharing?embedded=true" width="100%" height="600px"/>
      </object>
    </div>
  </article>
</div>
